.index-h3 {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #fff;
    line-height: 50px;
    background: #10182a;
    i {
        margin: 0 10px;
        border-left: 4px solid #fff;
    }
}

.index-floor1 {
    ul {
        li {
            float: left;
            width: 20%;
            height: 90px;
            i,
            .floor1-content,
            p,
            span {
                display: inline-block;
                vertical-align: middle;
            }
            i {
                margin-left: 10px;
                width: 42px;
                height: 90px;
            }
            p {
                padding: 0 10px;
                font-size: 16px;
                color: #fff;
                line-height: 90px;
            }
            span {
                font-size: 30px;
                color: #fff;
                line-height: 90px;
            }
        }
        .floor1-1 {
            background: #165ABB;
            i {
                background: url('../img/s-mission.png') no-repeat center;
            }
        }
        .floor1-2 {
            background: #256BD0;
            i {
                background: url('../img/s-record.png') no-repeat center;
            }
        }
        .floor1-3 {
            background: #347CE3;
            i {
                background: url('../img/s-alluser.png') no-repeat center;
            }
        }
        .floor1-4 {
            background: #428BF2;
            i {
                background: url('../img/s-online.png') no-repeat center;
            }
        }
        .floor1-5 {
            background: #5B9CF9;
            i {
                background: url('../img/s-watch.png') no-repeat center;
            }
        }
    }
}

@media screen and (max-width:1680px){
    .index-floor1 ul li .floor1-content {
        padding-left: 20px;
        p,
        span {
            display: block;
            line-height: 30px;
        }
    }
}

.index-floor2 {
    .floor2-content {
        padding-top: 47px;
        width: 100%;
        height: 385px;
        text-align: center;
        box-sizing: border-box;
        background: #273142;
        .btn-left,
        .btn-right,
        .banner {
            display: inline-block;
            vertical-align: middle;
            height: 283px;
        }
        .btn-left,
        .btn-right {
            margin: 0 30px;
            width: 57px;
            background: #3D4655;
        }
        .btn-left {
            
        }
        .btn-right {
            
        }
        .banner {
            width: calc(~"100% - 245px");
            ul {
                height: 100%;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 15px;
                    width: calc(~"50% - 35px");
                    height: 100%;
                    text-align: left;
                    background: #3D4655;
                    h6 {
                        padding: 22px 0 0 18px;
                        font-size: 14px;
                        color: #fff;
                    }
                    .banner-content,
                    .banner-echart {
                        display: inline-block;
                        vertical-align: middle;
                        width: 49%;
                        height: 240px;
                        box-sizing: border-box;
                    }
                    .banner-content {
                        padding: 22px 0 0 18px;
                        p {
                            line-height: 20px;
                            font-size: 14px;
                            color: #C4C5C6;
                            label {
                                float: left;
                                width: 28%;
                                text-align: right;
                            }
                            span {
                                float: left;
                                padding-left: 20px;
                                width: 72%;
                                box-sizing: border-box;
                            }
                        }
                    }
                    .banner-echart {

                    }
                }
            }
        }
    }
}
