.index-h3 {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  background: #10182a;
}
.index-h3 i {
  margin: 0 10px;
  border-left: 4px solid #fff;
}
.index-floor1 ul li {
  float: left;
  width: 20%;
  height: 90px;
}
.index-floor1 ul li i,
.index-floor1 ul li .floor1-content,
.index-floor1 ul li p,
.index-floor1 ul li span {
  display: inline-block;
  vertical-align: middle;
}
.index-floor1 ul li i {
  margin-left: 10px;
  width: 42px;
  height: 90px;
}
.index-floor1 ul li p {
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  line-height: 90px;
}
.index-floor1 ul li span {
  font-size: 30px;
  color: #fff;
  line-height: 90px;
}
.index-floor1 ul .floor1-1 {
  background: #165ABB;
}
.index-floor1 ul .floor1-1 i {
  background: url('../img/s-mission.png') no-repeat center;
}
.index-floor1 ul .floor1-2 {
  background: #256BD0;
}
.index-floor1 ul .floor1-2 i {
  background: url('../img/s-record.png') no-repeat center;
}
.index-floor1 ul .floor1-3 {
  background: #347CE3;
}
.index-floor1 ul .floor1-3 i {
  background: url('../img/s-alluser.png') no-repeat center;
}
.index-floor1 ul .floor1-4 {
  background: #428BF2;
}
.index-floor1 ul .floor1-4 i {
  background: url('../img/s-online.png') no-repeat center;
}
.index-floor1 ul .floor1-5 {
  background: #5B9CF9;
}
.index-floor1 ul .floor1-5 i {
  background: url('../img/s-watch.png') no-repeat center;
}
@media screen and (max-width: 1680px) {
  .index-floor1 ul li .floor1-content {
    padding-left: 20px;
  }
  .index-floor1 ul li .floor1-content p,
  .index-floor1 ul li .floor1-content span {
    display: block;
    line-height: 30px;
  }
}
.index-floor2 .floor2-content {
  padding-top: 47px;
  width: 100%;
  height: 385px;
  text-align: center;
  box-sizing: border-box;
  background: #273142;
}
.index-floor2 .floor2-content .btn-left,
.index-floor2 .floor2-content .btn-right,
.index-floor2 .floor2-content .banner {
  display: inline-block;
  vertical-align: middle;
  height: 283px;
}
.index-floor2 .floor2-content .btn-left,
.index-floor2 .floor2-content .btn-right {
  margin: 0 30px;
  width: 57px;
  background: #3D4655;
}
.index-floor2 .floor2-content .banner {
  width: calc(100% - 245px);
}
.index-floor2 .floor2-content .banner ul {
  height: 100%;
}
.index-floor2 .floor2-content .banner ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  width: calc(50% - 35px);
  height: 100%;
  text-align: left;
  background: #3D4655;
}
.index-floor2 .floor2-content .banner ul li h6 {
  padding: 22px 0 0 18px;
  font-size: 14px;
  color: #fff;
}
.index-floor2 .floor2-content .banner ul li .banner-content,
.index-floor2 .floor2-content .banner ul li .banner-echart {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  height: 240px;
  box-sizing: border-box;
}
.index-floor2 .floor2-content .banner ul li .banner-content {
  padding: 22px 0 0 18px;
}
.index-floor2 .floor2-content .banner ul li .banner-content p {
  line-height: 20px;
  font-size: 14px;
  color: #C4C5C6;
}
.index-floor2 .floor2-content .banner ul li .banner-content p label {
  float: left;
  width: 28%;
  text-align: right;
}
.index-floor2 .floor2-content .banner ul li .banner-content p span {
  float: left;
  padding-left: 20px;
  width: 72%;
  box-sizing: border-box;
}
