body,
html {
  width: 100%;
  height: 100%;
}
.login {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background: url('../img/login-bg.png') no-repeat center;
}
.login .login-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 570px;
  height: 470px;
}
.login .login-content .content-top {
  width: 100%;
  height: 60px;
}
.login .login-content .content-top i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 54px;
  height: 54px;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.37);
  background: url('../img/login-logo.png') no-repeat center;
}
.login .login-content .content-top h4 {
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 48px;
  color: #E9EEF9;
}
.login .login-content .content-user ul {
  padding-top: 60px;
}
.login .login-content .content-user ul li {
  display: block;
  margin: 35px auto 0;
  width: 460px;
  height: 50px;
  border-radius: 7px 3px 3px 8px;
  background: #f1f7ff;
}
.login .login-content .content-user ul li .input-left {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 100%;
  background: #2e7de6;
  border-radius: 3px 0 0 3px;
}
.login .login-content .content-user ul li input {
  display: inline-block;
  vertical-align: middle;
  width: 380px;
  height: 100%;
  font-size: 14px;
  color: #105491;
  border: none;
  background: #f1f7ff;
}
.login .login-content .content-user ul li input::-webkit-input-placeholder {
  color: #7E9CD4;
}
.login .login-content .content-user ul li input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7E9CD4;
}
.login .login-content .content-user ul li input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7E9CD4;
}
.login .login-content .content-user ul li input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7E9CD4;
}
.login .login-content .content-user ul .login-user span {
  background: #2e7de6 url('../img/login-user.png') no-repeat center;
}
.login .login-content .content-user ul .login-password span {
  background: #2e7de6 url('../img/login-code.png') no-repeat center;
}
.login .login-content .content-btn {
  margin: 50px auto 0;
  width: 460px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  background: #2e7de6;
}
.login .login-content .content-btn:hover {
  background: #1B64A5;
}
.login .login-content .forget-btn {
  display: block;
  margin: 40px auto 0;
  width: 60px;
  color: #2e7de6;
  text-decoration: underline;
}
