<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cms首页</title>
    <link rel="stylesheet" href="../layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/template/version.css">
</head>
<body>
    <!-- 公用布局模块 -->
    <div class="module">
        <!-- 公用头部 -->
        <div class="m-top">
            <div class="logo">CHAORAN</div>
            <div class="top-title">
                <span>超然多媒体管理后台</span>
                <ul>
                    <li class="active">多媒体管理</li>
                    <li>录制管理</li>
                </ul>
            </div>
            <div class="top-right">
                <ul>
                    <li class="top-user">
                        <a href="javascript:void(0);">
                            <i></i>
                            <span>user890090</span>
                        </a>
                    </li>
                    <li class="top-index active">
                        <a href="javascript:void(0);">
                            <i></i>
                            <span>主页</span>
                        </a>
                    </li>
                    <li class="top-set">
                        <a href="javascript:void(0);">
                            <i></i>
                            <span>设置</span>
                            <em></em>
                            <div class="hover-set">
                                <div class="hover-set-triangle"></div>
                                <dl>
                                    <dd>
                                        <b class="hover-set-p"></b>
                                        <label>修改密码</label>
                                    </dd>
                                    <dd>
                                        <b class="hover-set-v"></b>
                                        <label>版本信息</label>
                                    </dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                    <li class="top-exit">
                        <a href="javascript:void(0);">
                            <i></i>
                            <span>退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 公用菜单栏 -->
        <div class="m-left">
            <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="demo">
                <li class="layui-nav-item"><a href=""><i class="icon-dbgl"></i>点播管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="icon-zbgl"></i>直播管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">正在直播</a></dd>
                        <dd><a href="">历史直播</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href=""><i class="icon-plgl"></i>评论管理</a></li>
                <li class="layui-nav-item"><a href=""><i class="icon-flgl"></i>分类管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="icon-yhgl"></i>用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">组织结构</a></dd>
                        <dd><a href="">用户管理</a></dd>
                        <dd><a href="">外部认证</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- 公用内容块 -->
        <div class="m-mian">
            <!-- 页面内容存放区域 -->
            <div class="content">
                <div class="version-info-box">
                    <div class="module-box">
                        <div class="item-title">
                            <i class="color-quite"></i>
                            <span class="title-name">公司信息</span>
                        </div>
                        <div class="module-content">
                            <div class="content-line">
                                <span class="label">公司</span>
                                <span class="value">南京超然公司</span>
                            </div>
                            <div class="content-line">
                                <span class="label">网址</span>
                                <span class="value">wwww.aaa.com</span>
                            </div>
                            <div class="content-line ">
                                <span class="label">邮箱</span>
                                <span class="value">aaa@111.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="module-box">
                        <div class="item-title">
                            <i class="color-quite"></i>
                            <span class="title-name">产品简介</span>
                        </div>
                        <div class="module-content">
                            <div class="content-line">
                                <span class="label">产品名称</span>
                                <span class="value">超然多媒体管理后台</span>
                            </div>
                            <div class="content-line">
                                <span class="label">产品序列号</span>
                                <span class="value">34324234234</span>
                            </div>
                            <div class="content-line">
                                <span class="label">授权状态</span>
                                <span class="value">yes</span>
                            </div>
                            <div class="content-line no-bottom-line">
                                <span class="label">版本信息</span>
                                <span class="value">2910</span>
                            </div>
                        </div>
                    </div>
                    <div class="module-box">
                        <div class="item-title">
                            <i class="color-quite"></i>
                            <span class="title-name">其他</span>
                        </div>
                        <div class="module-content">
                            <div class="content-line">
                                <span class="label">导入数据</span>
                                <a class="btn" href="">上传</a>
                            </div>
                            <div class="content-line">
                                <span class="label">备份数据</span>
                                <a class="btn" href="">下载</a>
                            </div>
                            <div class="content-line">
                                <span class="label">产品授权</span>
                                <a class="btn" href="">升级</a>
                            </div>
                            <div class="content-line no-bottom-line">
                                <span class="label">产品版本</span>
                                <a class="btn" href="">升级</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../layui/layui.all.js"></script>
</html>