/*
 * @Author: xuwenkang
 * @Description: 设备管理样式
 * @Date: 2019-04-21 18:41:45
 * @Last Modified by: xuwenkang
 * @Last Modified time: 2019-04-21 19:21:09
*/
.device-manage-box {
  margin-top: 46px;
}
.device-manage-box .item-title {
  display: flex;
  align-items: center;
  padding-left: 11px;
  height: 50px;
  background-color: #10182A;
}
.device-manage-box .item-title .color-quite {
  margin-right: 8px;
  width: 4px;
  height: 16px;
  background-color: #E2E6EF;
}
.device-manage-box .item-title .title-name {
  font-size: 14px;
  color: #fff;
}
.device-manage-box .device-content {
  padding: 44px;
  background-color: #273142;
}
.device-manage-box .device-content .table {
  margin-bottom: 40px;
  width: 100%;
  border-top: 1px solid #303C4F;
  border-left: 1px solid #303C4F;
}
.device-manage-box .device-content .table .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #303C4F;
}
.device-manage-box .device-content .table .line .td {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-right: 1px solid #303C4F;
  color: #9A9CA0;
  text-align: center;
}
.device-manage-box .device-content .table .line .td.td1 {
  width: 53px;
}
.device-manage-box .device-content .table .line .td.td2 {
  width: 28.6%;
}
.device-manage-box .device-content .table .line .td.td3 {
  width: 21.2%;
}
.device-manage-box .device-content .table .line .td.td4 {
  width: 17.7%;
}
.device-manage-box .device-content .table .line .td.td5 {
  width: 10%;
}
.device-manage-box .device-content .table .line .td.td6 {
  width: 180px;
}
.device-manage-box .device-content .table .table-head {
  overflow-y: scroll;
}
.device-manage-box .device-content .table .table-body {
  height: 180px;
  overflow-y: scroll;
}
.device-manage-box .device-content .table .table-body .line:hover {
  background-color: #3D4655;
}
.device-manage-box .device-content .option-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.device-manage-box .device-content .option-box a {
  color: #9A9CA0;
}
.device-manage-box .device-content .chart-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.device-manage-box .device-content .chart-box .left {
  width: 70%;
  text-align: center;
}
.device-manage-box .device-content .chart-box .right {
  width: 30%;
  text-align: center;
}
.device-manage-box .device-content .chart-box img {
  max-width: 100%;
  height: auto;
}
