.m-mian {
  position: relative;
  padding: 0 0 20px !important;
  background: #E2E6EF;
}
.m-mian .content {
  padding: 0 !important;
}
.m-mian .content .plan-floor1 {
  width: 100%;
  height: 50px;
  background: #fff;
}
.m-mian .content .plan-floor1 .floor-one {
  float: left;
  margin-left: 20px;
  line-height: 50px;
}
.m-mian .content .plan-floor1 .floor-one i {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url('../../img/title-classify.png') no-repeat center;
}
.m-mian .content .plan-floor1 .floor-one span {
  display: inline-block;
  font-size: 14px;
  color: #165ABB;
  cursor: pointer;
}
.m-mian .content .plan-floor1 .floor-two {
  float: right;
}
.m-mian .content .plan-floor1 .floor-two ul {
  list-style: none;
  margin-top: 10px;
  margin-right: 20px;
}
.m-mian .content .plan-floor1 .floor-two ul li {
  float: right;
  padding: 5px 10px;
  box-sizing: border-box;
  width: auto;
  line-height: 20px;
  border-right: 2px solid #fff;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #273142;
  background: #f0f3f9;
  cursor: pointer;
}
.m-mian .content .plan-floor1 .floor-two ul li input {
  border: none;
  line-height: 20px;
  background: #f0f3f9;
  color: #A2A8B1;
}
.m-mian .content .plan-floor1 .floor-two ul li .floor-search {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(../../img/icon-search.png) no-repeat center;
}
.m-mian .content .zzjg-floor {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  background: #fff;
  overflow-y: auto;
}
.m-mian .content .zzjg-floor .zzjg-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
  color: #273142;
  font-size: 14px;
  background: #FFF0F3F9;
  cursor: pointer;
}
.m-mian .content .zzjg-floor .down-box {
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.m-mian .content .zzjg-floor .down-box .addTitle {
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #357BDE;
  font-size: 14px;
}
.m-mian .content .zzjg-floor .down-box ul {
  list-style-type: none;
  box-sizing: border-box;
}
.m-mian .content .zzjg-floor .down-box ul li {
  width: auto;
  height: auto;
}
.m-mian .content .zzjg-floor .down-box ul li .title-one {
  display: inline-block;
  margin-top: 20px;
  width: 268px;
  height: 30px;
  line-height: 30px;
  text-indent: 15px;
  background: #e2e6ef;
}
.m-mian .content .zzjg-floor .down-box ul li .title-two {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-indent: 15px;
  background: #e2e6ef;
}
.m-mian .content .zzjg-floor .down-box ul li .add {
  display: inline-block;
  margin: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background: url('../../img/icon-add.png') no-repeat center;
}
.m-mian .content .zzjg-floor .down-box ul li .remove {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background: url('../../img/icon-delete.png') no-repeat center;
}
.m-mian .content .zzjg-floor .down-box ul li .open {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 -8px;
  width: 17px;
  height: 17px;
  background: url('../../img/icon-delete.png') no-repeat center;
}
.m-mian .content .zzjg-floor .down-box ul li .close {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 -8px;
  width: 17px;
  height: 17px;
  background: url('../../img/icon-add.png') no-repeat center;
}
.m-mian .content .zzjg-floor .down-box ul li .node-two li {
  position: relative;
  padding-left: 30px;
  border-left: 1px dashed #FF15C5FF;
  box-sizing: border-box;
}
.m-mian .content .zzjg-floor .down-box ul li .node-two li::before {
  position: absolute;
  top: 35px;
  left: 1px;
  content: '';
  border-top: 1px dashed #FF15C5FF;
  width: 17px;
}
.m-mian .content .zzjg-floor .down-box ul li .node-two .node-three li {
  position: relative;
  padding-left: 30px;
  border-left: 1px dashed #FF15C5FF;
  box-sizing: border-box;
}
.m-mian .content .zzjg-floor .down-box ul li .node-two .node-three li li::before {
  position: absolute;
  top: -10px;
  left: 5px;
  content: '';
  border: 1px dashed #FF15C5FF;
  width: 17px;
}
.m-mian .content .zzjg-floor .down-box ul li .active-open .node-three {
  display: block;
}
.m-mian .content .zzjg-floor .down-box ul li .active-close .node-three {
  display: none;
}
.m-mian .content .zzjg-floor .down-box .active-off .node-two {
  display: none;
}
.m-mian .content .zzjg-floor .down-box .active-one .node-two {
  display: block;
}
