/*
 * @Author: xuwenkang
 * @Description: 终端管理页面样式
 * @Date: 2019-04-21 17:42:17
 * @Last Modified by: xuwenkang
 * @Last Modified time: 2019-04-21 17:54:30
*/
.terminal-manage-box {
  padding-top: 30px;
}
.terminal-manage-box .terminal-list li {
  margin-bottom: 30px;
}
.terminal-manage-box .terminal-list li .top {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  background: #F0F2F7;
}
.terminal-manage-box .terminal-list li .top input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.terminal-manage-box .terminal-list li .top .task-title {
  margin-left: 20px;
  font-size: 16px;
  color: #273142;
  vertical-align: middle;
}
.terminal-manage-box .terminal-list li .middle {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #E2E6EF;
}
.terminal-manage-box .terminal-list li .middle .status-item {
  width: 26%;
  padding-left: 50px;
  font-size: 14px;
  color: #585E67;
}
.terminal-manage-box .terminal-list li .middle .status-item img.icon {
  margin-right: 16px;
  width: 20px;
  height: auto;
}
.terminal-manage-box .terminal-list li .bottom {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  align-items: center;
  background: #fff;
  height: 40px;
}
.terminal-manage-box .terminal-list li .bottom .option-item {
  display: flex;
  align-items: center;
}
.terminal-manage-box .terminal-list li .bottom .option-item img.icon {
  margin-right: 15px;
  width: 15px;
  height: auto;
}
.terminal-manage-box .terminal-list li .bottom i.cut-line {
  margin: 0 20px;
  width: 1px;
  height: 20px;
  background-color: #E2E6EF;
}
.terminal-manage-box .terminal-list li:hover {
  box-shadow: -1px -2px 10px 2px #ccc;
}
