.m-mian {
  padding: 0 0 20px !important;
}
.m-mian .content {
  padding: 0 !important;
}
.m-mian .gggl-floor1 {
  width: 100%;
  height: 50px;
  background: #fff;
}
.m-mian .gggl-floor1 .floor-one {
  float: left;
  margin-left: 20px;
  line-height: 50px;
}
.m-mian .gggl-floor1 .floor-one i {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url('../../../img/title-news.png') no-repeat center;
}
.m-mian .gggl-floor1 .floor-one span {
  display: inline-block;
  font-size: 14px;
  color: #165ABB;
}
.m-mian .gggl-floor1 .floor-two {
  float: right;
}
.m-mian .gggl-floor1 .floor-two ul {
  list-style: none;
  margin-top: 10px;
  margin-right: 20px;
}
.m-mian .gggl-floor1 .floor-two ul li {
  float: right;
  padding: 5px 10px;
  box-sizing: border-box;
  width: auto;
  line-height: 20px;
  border-right: 2px solid #fff;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #273142;
  background: #f0f3f9;
  cursor: pointer;
}
.m-mian .gggl-floor1 .floor-two ul li input {
  border: none;
  line-height: 20px;
  background: #f0f3f9;
  color: #A2A8B1;
}
.m-mian .gggl-floor1 .floor-two ul li .floor-search {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url('../../../img/icon-search.png') no-repeat center;
}
.m-mian .gggl-floor2 {
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #f0f3f9;
}
.m-mian .gggl-floor2 .gggl-content {
  margin-bottom: 15px;
  width: 100%;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background: #fff;
  overflow: hidden;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .gggl-title {
  position: relative;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .gggl-title input {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: #b0bbd2;
  border-radius: 2px;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .gggl-title span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  text-indent: 10px;
  color: #273142;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .gggl-title .button-active {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .gggl-title .button-active em {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 6px;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .time {
  width: auto;
  height: 35px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #75787c;
  line-height: 35px;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .time span {
  display: inline-block;
  padding-left: 30px;
  box-sizing: border-box;
  line-height: 35px;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title1-1 {
  width: auto;
  height: auto;
  font-size: 14px;
  color: #273142;
  padding-left: 30px;
  box-sizing: border-box;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title1-1 span {
  line-height: 25px;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: -20px;
  width: 103%;
  height: auto;
  border-top: 1px solid #E2E6EF;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom div {
  position: relative;
  margin-right: 30px;
  min-width: 70px;
  height: 30px;
  line-height: 45px;
  cursor: pointer;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom div i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom div span {
  width: auto;
  font-size: 14px;
  color: #273142;
  font-family: 'MicrosoftYaHei';
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom div em {
  position: absolute;
  top: 15px;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #E2E6EF;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom .delete i {
  background: url('../../../img/control-delete.png') no-repeat center;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom .edit i {
  background: url('../../../img/control-edit.png') no-repeat center;
}
.m-mian .gggl-floor2 .gggl-content .gggl-index .title-bottom .start i {
  background: url('../../../img/control-top.png') no-repeat center;
}
.m-mian .gggl-floor2 .gggl-content .active-off em {
  background: url('../../../img/icon-open.png') no-repeat center;
}
.m-mian .gggl-floor2 .gggl-content .active-on {
  height: auto;
}
.m-mian .gggl-floor2 .gggl-content .active-on em {
  background: url('../../../img/icon-fold.png') no-repeat center;
}
.m-mian .gggl-floor2 .gggl-content:last-child {
  margin-bottom: 0px;
}
.m-mian .gggl-floor2 .close .active-on {
  display: none;
}
.m-mian .gggl-floor2 .open .active-off {
  display: none;
}
